//base styles
* {
  box-sizing: border-box;
  margin: 0;
  list-style: none;
  text-decoration: none;
  color: $cl-font-black;
}

body {
  background: $cl-background-main;
}

.global-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.text-center {
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.site-content {
  padding: 60px 0 100px 0;
}

.common-padding {
  @include media-lg {
    padding: 0 60px;
  }

  @include media-md {
    padding: 0 32px;
  }

  @include media-sm {
    padding: 0 16px;
  }
}

.col-centered {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  max-width: 1170px;
  transition: .3s linear;

  @include media-lg {
    max-width: 1024px;
  }

  @include media-md {
    max-width: 768px;
  }

  @include media-sm {
    max-width: 100%;
  }
}


