//fonts
$font-main: 'Nunito', sans-serif;

//breakpoint
$width-sm: 767px;
$width-md: 1100px;
$width-lg: 1200px;

//colors
$cl-primary: #F4E041;
$cl-secondary: #00BDD3;
$cl-background-main: #F8F8F8;
$cl-background-card: #FFFFFF;
$cl-background-light-gray: #D0CFCF;

$cl-font-black: #000000;
$cl-font-white: #FFFFFF;
$cl-font-gray: #7E7E7E;
$cl-error: #CB3D40;

$cl-btn-hover: #FFE302;
$cl-btn-disabled: #B4B4B4;

